---
layout: default
title: Research
permalink: /cv
---
{% assign sorted_publi = site.publications | sort:"date" | reverse %}

<h4>Publications</h5>
<table class="table">
	<thead></thead>
	<tbody>
		{% for publication in sorted_publi %}
			<tr>
				<td class="col-md-2">{{ publication.date | date: "%Y" }}</td>
				<td>
					<b>{{ publication.title }}</b><br>
					{{ publication.authors }}<br>
					{{ publication.conference }}	
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
<br>

{% assign sorted_xp = site.experiences | sort:"start_date" | reverse %}

<h4>Professional Experience</h5>
<table class="table">
	<thead></thead>
	<tbody>
		{% for experience in sorted_xp %}
			<tr>
				<td class="col-md-2">{{ experience.start_date | date: "%b %Y" }} - {{ experience.end_date | date: "%b %Y" }}</td>
				<td>
					<b>{{ experience.type }}</b><br>
					{% if experience.organization_url %}
						<a href="{{ experience.organization_url }}">{{ experience.organization }}</a>, {{ experience.location }}<br>
					{% else %}
						{{ experience.organization }}, {{ experience.location }}<br>
					{% endif %}
					{{ experience.title }}<br>
					{{ experience.description }}
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
