<!-- BootStrap Styles -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mdbootstrap@4.20.0/css/mdb.min.css" /> -->

<!-- Optional Theme -->
<link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
<!-- <link rel="stylesheet" href="{{ site.baseurl }}/static/academicons-1.8.0/css/academicons.min.css"> -->
<link rel="stylesheet" href="{{ site.baseurl }}/static/flag-icon-css-master/css/flag-icon.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link defer rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.21.4/dist/bootstrap-table.min.css">

<!-- Icons -->
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/academicons@{{ site.academicons.version }}/css/academicons.min.css" crossorigin="anonymous"> -->
