<nav id="navbar" class="navbar navbar-light navbar-expand-sm fixed-top">
	<div class="container">
		{% if page.permalink != '/' %}
			<a class="navbar-brand title font-weight-lighter" href="{{ site.baseurl }}/">
				{% if site.title == "blank" %}
					{% if site.first_name %}
						<span class="font-weight-bold">{{ site.first_name }}&nbsp;</span>
					{% endif %}
					{% if site.middle_name %}
						{{ site.middle_name }}&nbsp;
					{% endif %}
					{% if site.last_name %}
						{{ site.last_name }}
					{% endif %}
				{% else %}
					{{ site.title }}
				{% endif %}
			</a>
		{% endif %}

		<div class="collapse navbar-collapse text-right" id="navbarNav">
			<ul class="navbar-nav ml-auto flex-nowrap">
				{% assign sorted_pages = site.pages | sort: "navbar_order" %}
				{% for site_page in sorted_pages %}

					{% assign linkurl = nil %}

					{% if page.url contains '://' %}
						{% assign linkurl = contains %}
					{% else %}
						{% assign linkurl = site_page.url | prepend: site.baseurl %}
					{% endif %}
					
					{% assign title_downcase = {{site_page.title | downcase}} %}
					
					{% if site_page.url == "/" %}
						<li class="nav-item {% if page.title == 'About' %} active {% endif %}">
					{% else %}
						<li class="nav-item {% if page.url contains title_downcase %} active {% endif %}">
					{% endif %}
						<a class="nav-link" href="{{ linkurl }}">{{ site_page.title }}</a>
					</li> 

				{% endfor %}
			</ul>
		</div>
	</div>
</nav>
