<!-- NAME/PROFESSION -->
<div class="container-fluid head-name">
	<div class="container">
		<div class="row">
			<h1>Marie-Neige Chapel</h1>
			<h3>PhD in Computer Science</h3>
			<h4>
				<a href="http://www.linkedin.com/in/marie-neige-chapel" class="social-icon"><i class="fa fa-fw fa-linkedin fa-1x"></i></a>
				<a href="https://www.researchgate.net/profile/Marie-Neige_Chapel" class="social-icon"><i class="ai ai-researchgate ai-1x"></i></a>
				<a href="https://github.com/mnchapel" class="social-icon"><i class="fa fa-fw fa-github fa-1x"></i></a>
			</h4>
		</div>
	</div>
</div>
