---
layout: default
---

<div class="post">

	<header class="post-header">
		<h1 class="post-title">{{ page.title }}</h1>
		<p class="post-description">{{ page.description }}</p>
	</header>

	<div class="article">
		
		{%- for category in page.display_categories %}

			<h3 class="category">{{ category | capitalize }}</h3>
			
			<div class="projects">  				
				{% assign categorized_projects = site.projects | where: "category", category %}
				{% assign sorted_projects = categorized_projects | sort:"date_start" | reverse %}

				{% for project in sorted_projects %}
					<a href="{{ project.url | relative_url }}">
						<div class="card hoverable h-100">

							<div class="card-body">
								{% assign img_class = "img-fluid z-depth-1" %}
								{% assign img_path = project.img_filename %}
								{% include figure.html
									path=img_path
									class=img_class
									alt=page.image %}

								<!-- <h4 class="mt-4">{{ project.title }}</h4> -->
								<p class="card-title mt-4"><b>{{ project.title }}</b></p>
								<p class="mt-2">{{ project.description }}</p>
							</div>

							<span class="badge font-weight-bold danger-color-dark text-uppercase align-middle" style="min-width: 75px;">
								{{ project.type }}
							</span>
							
						</div>
					</a>
				{% endfor %}
					
			</div>
		{% endfor %}

	</div>
</div>
