---
layout: default
---

<div class="post">

	<header class="post-header">
		<h1 class="post-title">{{ page.title }}</h1>
	</header>

	<div class="article">

	{% for teaching_xp in site.data.teaching %}
		
		<h3 class="category">{{ teaching_xp.year }}</h3>
		<p>{{ teaching_xp.institution }}</p>

		<ul class="post-list">
			{% for class in teaching_xp.classes %}
				<li>
					<h4>
						<a href="{{ classes.url }}">
							{{ class.title }}
						</a>
					</h4>
					<p style="margin-bottom:10px">
					<i style="color: grey">{{ class.info }}</i>
				</li>
			{% endfor %}
		</ul>
		
	{% endfor %}

	</div>
</div>
